{% extends 'base_generic.html' %}
{% load django_tables2 %}
{% load static %}

{% block title %}Financial Operations{% endblock %}

{% block content %}
  <head><link rel="stylesheet" href="{% static 'financials/financials.css' %}"></head>
  <h2>Financial Operations</h2>

  <div class="financials-container">
      <form class="financials-form income-form" method="post">
        {% csrf_token %}
        <h2 class="form-title">Add Income</h2>
        {{ income_form.as_p }}
        <input type="hidden" name="income_form">
        <input type="radio" name="add_multiple" value="yes"> Add Multiple Transactions<br>
        <div class="buttons-container">
          <button type="submit" class="financials-btn-save">Save</button>
          <button type="button" class="financials-btn-cancel" onclick="location.href='{% url 'dashboard' %}'">Cancel</button>
      </div>
      </form>
      <form class="financials-form expense-form" method="post">
        {% csrf_token %}
        <h2 class="form-title">Add Expense</h2>
        {{ expense_form.as_p }}
        <input type="hidden" name="expense_form">
        <input type="radio" name="add_multiple" value="yes"> Add Multiple Transactions<br>
        <div class="buttons-container">
          <button type="submit" class="financials-btn-save">Save</button>
          <button type="button" class="financials-btn-cancel" onclick="location.href='{% url 'dashboard' %}'">Cancel</button>
      </div>
      </form>
  </div>
{% endblock %}